body{
    margin: 0;
    padding: 0;
    background-color: #212121;
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2rem;
}

#wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    gap: 1rem;
}

.guessSubmit{
    padding: 5px 15px 5px 15px;
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    background-color: black;
    color: aliceblue;
    border-radius: 12px;
}

.guessField{
    padding: 5px 5px 5px 5px;
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
}